:host > * {
    margin: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
}

.title {
    flex: 1 1 60%;
}

.options {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
    justify-content: flex-end;
    font-size: 1.2rem;
}


.search-accented {
    text-shadow: 0 0 7px #008686;
}

.product-image {
    width: 100%;
}

.product-expired {
    border: 2px solid rgb(216, 45, 45);
}

.text-ok {
    color: #84d511;
}

.text-warn {
    color:  rgb(233, 233, 33);
}

.text-alert {
    color: rgb(216, 45, 45);
}

.noAgents {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 52vh;
    flex-direction: column;
}

.addAgent {
    font-size: 1.1rem;
    color: #fff;
    border-radius: 30px;
    outline: none;
    border: 2px solid #fff;
    width: 20%;
    height: 8%;
    padding: 1rem;
    background-color: darkslategrey;
    cursor: pointer;
    text-align: center;
}

.addAgent:hover {
    color: #cdd6d6;
    background-color: #367373;
}
