<header>
  <h3 class="title">{{ product.product | titlecase }}</h3>
  <div class="options">
      <div class="search" title="Search recepies by this product"
          [ngClass]="{'search-accented':product.condition === 'warn'}"
          (click)="searchByProduct();">
          <i class="fa fa-search"></i>
      </div>
      <app-modal [agent]="product"></app-modal>
  </div>
</header>
<main>
  <img class="product-image" src="assets/tomato.jpg" alt="Помідорка"
  [ngClass]="{'product-expired':product.condition === 'expired'}">
  <p>Weight: {{ product.weight }}g</p>
  <p>
      <i *ngIf="product.condition === 'ok'" class="fa fa-smile-o text-ok" aria-hidden="true"></i>
      <i *ngIf="product.condition === 'warn'" class="fa fa-exclamation-triangle text-warn" aria-hidden="true"></i>
      <i *ngIf="product.condition === 'expired'" class="fa fa-frown-o text-alert" aria-hidden="true"></i>
      Expires: {{ product.stateExpires }}
  </p>
  <p *ngIf="product.condition === 'warn'" class="text-warn">This product is about to expire... Let's see, how we can use it</p>
  <p *ngIf="product.condition === 'expired'" class="text-alert">Oops... This product isn't safe anymore</p>
</main>