.card {
    width: 450px;
    padding: 2rem 1rem;
    background-color: white;
    margin: 2rem 1rem;
}

.card > * {
    margin: 1rem;
}

.content {
    padding: 13vh 10vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-between;
}

.title {
    flex: 1 1 60%;
}

.tags {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
    justify-content: space-between;
}

.complexity {
    padding: 0.3rem 0.3rem;
    border-radius: 15px;
    align-content: center;
}

.complexity-easy {
    background-color: #84d511;
}

.complexity-normal {
    background-color: rgb(255, 255, 43);
    color: #4d4141;
}

.complexity-hard {
    background-color: rgb(216, 45, 45);
    color: #ffe2e2;
}

.description {
    margin-bottom: 0.7rem;
}

.button {
    height: 1.3rem;
    cursor: pointer;
    margin-top: 0.3rem;
    padding: 0.3rem;
    text-align: center;
    border: 2px solid darkslategrey;
}


.search {
    margin-right: 0.5rem;
    cursor: pointer;
}

.search:hover {
    color: #7ea1a1;
    transform: translateY(1px);
}

.modalCenter {
    position: fixed;
    width: 40vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 0 10px darkslategrey;
    text-shadow: initial;
    z-index: 10;
    outline: none;
}

modal-header h3 {
    padding-left: 1.5rem;
}

modal-content form {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

modal-content label {
    flex: 1 0 20%;
    margin: 0.7rem;
}

modal-content input {
    flex: 1 0 60%;
    margin: 0.7rem;
}

modal-footer {
    display: flex;
    justify-content: flex-end;
}

.close {
    float: rigth;
    background-color: inherit;
    border: none;
    outline: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: darkslategray;
}

.noresults {
    text-align: center;
    color: rgb(216, 45, 45);
}